@import "~bootstrap/dist/css/bootstrap.min.css";

.App-container {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.layout {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.content-main {
    background-color: white;
    flex-grow: 1;
    display: flex;
    overflow-x: scroll;
    border-top-left-radius: 20px;
}

.content-wrap {
    padding: 15px;
}

.header {
    min-height: 40px;
    background: darkcyan;
    color: white;
    padding: 10px;
}

